<div class="layer-group-toggle-header layer-{{dasherize label}}">
  <div class="switch tiny float-left">
    <input class="switch-input" type="checkbox" checked={{if active 'checked'}}>
    <label {{action 'toggle'}} class="switch-paddle">
      <span class="show-for-sr">Toggle Layer Group</span>
    </label>
  </div>
  <span {{action 'toggle' preventDefault=false}} class="layer-group-toggle-label" role="button">

    {{#if active}}
      {{#if infoLink}}
        <span class="info-link"><a href="{{infoLink}}" target="_blank">{{fa-icon infoLinkIcon}}</a></span>
      {{/if}}
    {{/if}}

    {{#if tooltip}}
      {{labs-ui/icon-tooltip tip=tooltip icon=tooltipIcon side='left'}}
    {{/if}}

    {{#if (and activeTooltip active)}}
      {{labs-ui/icon-tooltip tip=activeTooltip icon=activeTooltipIcon side='left'}}
    {{/if}}

    {{label}}

    {{#if active}}
      {{#if icon}}
        {{labs-ui/legend-icon icon=icon}}
      {{/if}}
    {{/if}}

  </span>
</div>
{{#if active}}
  <div class="layer-group-toggle-content">
    {{yield}}
  </div>
{{/if}}
