<div {{action 'toggleLayerGroupsContainer'}}
  class="layer-groups-container-title {{unless open 'closed'}} layer-groups-container--{{dasherize title}}"
  role="button">
  {{title}}
  {{#if numberMenuItems}}
    <span class="badge">{{numberMenuItems}}</span>
  {{/if}}
  {{#if (and mapIsLoading open numberMenuItems)}}
    {{fa-icon 'spinner' class='fa-spin medium-gray'}}
  {{/if}}
</div>
<div class="layer-groups-container-content">
  {{yield (hash
      layer-group-toggle=(component 'labs-ui/layer-group-toggle' willDestroyHook=(action 'unregisterChild') didInit=(action 'registerChild'))
    )
  }}
</div>
