<div class="layer-group-toggle-header layer-{{dasherize label}}">
  <div class="switch tiny float-left">
    <input class="switch-input" type="checkbox" checked={{if active 'checked'}}>
    <label {{action 'toggle'}} class="switch-paddle">
      <span class="show-for-sr">Toggle Layer Group</span>
    </label>
  </div>
  <span {{action 'toggle'}} class="layer-group-toggle-label" role="button">
    {{!-- {{#if tooltip}}
      {{labs-ui/icon-tooltip tip=tooltip}}
    {{/if}} --}}

    {{label}}

    {{#if active}}
      {{#if icon}}
        {{labs-ui/legend-icon icon=icon}}
      {{/if}}
    {{/if}}

  </span>
</div>
{{#if active}}
  <div class="layer-group-toggle-content">
    {{yield}}
  </div>
{{/if}}
