<span class='icon-tooltip'><FaIcon
  @icon={{this.icon}}
  @transform={{@transform}}
  @fixedWidth={{this.fixedWidth}}
/><EmberTooltip
  @text={{@tip}}
  @side={{this.side}}
  @popperContainer="body"
/></span>
