<h2 id="title">Welcome to Labs-UI</h2>
<h3>labs-ui/icon-tooltip</h3>
<p>Makes a tooltip with a fontawesome icon.  Default icon is 'info-circle' </p>

<p>Here is an info tooltip next to some text. {{labs-ui/icon-tooltip tip="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."}}</p>

{{#labs-map id='map' mapLoaded=(action 'handleMapLoad') as |map|}}
  {{map.labs-layers layerGroups=model.layerGroups}}
{{/labs-map}}

{{#labs-ui/accordion-menu
  title='Accordion menu'
  as |menu|
}}

  {{#menu.layer-group-toggle
    label=model.layerGroupsObject.citymap.legend.label
    active=true
  }}
    {{labs-ui/legend-items items=model.layerGroupsObject.citymap.legend.items}}
  {{/menu.layer-group-toggle}}

  {{#menu.layer-group-toggle
    label=model.layerGroupsObject.pierhead-bulkhead-lines.legend.label
    active=true
  }}
    {{labs-ui/legend-items items=model.layerGroupsObject.pierhead-bulkhead-lines.legend.items}}
  {{/menu.layer-group-toggle}}

  {{menu.layer-group-toggle
    label=model.layerGroupsObject.community-districts.legend.label
    icon=model.layerGroupsObject.community-districts.legend.icon
    active=true
  }}

  {{#menu.layer-group-toggle
    label=model.layerGroupsObject.floodplain-pfirm2015.legend.label
    active=true
  }}
    {{labs-ui/legend-items items=model.layerGroupsObject.floodplain-pfirm2015.legend.items}}
  {{/menu.layer-group-toggle}}

  {{menu.layer-group-toggle
    label=model.layerGroupsObject.amendments.legend.label
    icon=model.layerGroupsObject.amendments.legend.icon
    active=true
  }}

{{/labs-ui/accordion-menu}}

{{outlet}}
