<DocsHeader/>

<div class="grid-container large-margin-bottom">

  <div class="grid-x grid-margin-x">
    <div class="cell large-8">
      <p class="text-xlarge">
        Labs UI is an <a href="https://emberjs.com/">Ember.js</a> addon containing common components and design patterns used across <a href="https://planninglabs.nyc/">NYC Planning Labs</a> digital products, incorporating styles from our <a href="https://nyc-planning-style-guide.netlify.com/">Digital Style Guide</a>.
      </p>
      <p>
        See the <a href="https://nyc-planning-style-guide.netlify.com/">style guide docs</a> for more information on its features, classes, typography, color, layout&hellip;
      </p>
    </div>
    <div class="cell large-4">
      <p class="text-dark-gray tiny-margin-top -callout">
        The NYC Planning Digital Style Guide is built with <a href="https://foundation.zurb.com/sites/docs/">Foundation for Sites</a>. Consult the <a href="https://foundation.zurb.com/sites/docs/">Foundation docs</a> for features not covered in the style guide's docs. Note: Labs UI only consumes styles from the style guide/Foundation, it not its JavaScript.
      </p>
    </div>
  </div>


  <hr>


  <h2 class="no-margin subsection-header" data-anchor="site-header">
    Site Header
    <small class="header-link"><LinkTo @route="index" @query={{hash anchor="site-header"}}>{{fa-icon "link"}}</LinkTo></small>
  </h2>
  <h4 class="dark-gray text-weight-normal">labs-ui/site-header</h4>
  <div class="grid-x grid-margin-x">
    <div class="cell large-5">
      <p>Use the <code>site-header</code> component to add a branded banner at the top of apps. It includes Planning Labs' beta notice and a logo that links to NYC Planning's main site. Its optional responsive parameters automatically add a menu button to toggle the navigation on smaller screens, and define the screen size at which that happens.</p>
      <p>To add an app name and menu items to the header, include the <code>site-title</code> and <code>site-nav</code> contextual components, using the <code>.site-title</code> and <code>.site-subtitle</code> Labs UI classes and Foundation's menu classes.</p>
      <table>
        <thead>
          <tr>
            <td>Param</td>
            <td>Type</td>
            <td>Default</td>
            <td>Description</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong><pre>responsiveNav</pre></strong></td>
            <td>boolean</td>
            <td>false</td>
            <td>Adds menu button to toggle nav</td>
          </tr>
          <tr>
            <td><strong><pre>responsiveSize</pre></strong></td>
            <td>string</td>
            <td><pre>large</pre></td>
            <td>Screen size at which nav is always visible</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="cell large-7">
      <pre><code>&#123;{#labs-ui/site-header
responsiveNav=true
responsiveSize="medium"
as |banner|
}}
&#123;{#banner.title}}
  &lt;a href="" class="site-title">App Name &lt;small class="site-subtitle show-for-medium">Subtitle&lt;/small>&lt;/a>
&#123;{/banner.title}}
&#123;{#banner.nav}}
  &lt;ul class="menu vertical medium-horizontal">
    &lt;li>&lt;LinkTo @route="index">One&lt;/LinkTo>&lt;/li>
    &lt;li>&lt;LinkTo @route="index">Two&lt;/LinkTo>&lt;/li>
    &lt;li class="external-nav-item">&lt;a href="mailto:email@example.org">Mailto Link&lt;/a>&lt;/li>
  &lt;/ul>
&#123;{/banner.nav}}
&#123;{/labs-ui/site-header}}</code></pre>
      {{#labs-ui/site-header
        responsiveNav=true
        responsiveSize="medium"
        as |banner|
      }}
        {{#banner.title}}
          <a href="#" class="site-title">App Name <small class="site-subtitle show-for-medium">Subtitle</small></a>
        {{/banner.title}}
        {{#banner.nav}}
          <ul class="menu vertical medium-horizontal">
            <li><LinkTo @route="index">One</LinkTo></li>
            <li><LinkTo @route="index">Two</LinkTo></li>
            <li class="external-nav-item"><a href="mailto:email@example.org">Email</a></li>
          </ul>
        {{/banner.nav}}
      {{/labs-ui/site-header}}
    </div>
  </div>


  <hr>


  <h2 class="no-margin subsection-header" data-anchor="icon-tooltip">
    Icon Tooltip
    <small class="header-link"><LinkTo @route="index" @query={{hash anchor="icon-tooltip"}}>{{fa-icon "link"}}</LinkTo></small>
  </h2>
  <h4 class="dark-gray text-weight-normal">labs-ui/icon-tooltip</h4>
  <div class="grid-x grid-margin-x">
    <div class="cell large-5">
      <p>Renders a Font Awesome icon with <a href="http://sir-dunxalot.github.io/ember-tooltips/">Ember Tooltips</a>.</p>
      <table>
        <thead>
          <tr>
            <td>Param</td>
            <td>Type</td>
            <td>Default</td>
            <td>Description</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong><pre>tip</pre></strong></td>
            <td>string</td>
            <td>null</td>
            <td>Tooltip text</td>
          </tr>
          <tr>
            <td><strong><pre>icon</pre></strong></td>
            <td>string</td>
            <td><pre>info-circle</pre></td>
            <td>Font Awesome icon name</td>
          </tr>
          <tr>
            <td><strong><pre>side</pre></strong></td>
            <td>string</td>
            <td><pre>top</pre></td>
            <td>top, right, bottom, or left</td>
          </tr>
          <tr>
            <td><strong><pre>transform</pre></strong></td>
            <td>string</td>
            <td><pre>null</pre></td>
            <td>Font Awesome "Power Transforms"</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="cell large-7">
      <pre><code>Here is an info tooltip on a "map-marked-alt" icon
&#123;{labs-ui/icon-tooltip
  tip="This is the tooltip text."
  icon="map-marked-alt"
  side="bottom"
  transform="shrink-2 up-2"
}}
in the middle of some text.
      </code></pre>
      Here is an info tooltip on a "map-marked-alt" icon
      {{labs-ui/icon-tooltip
        tip="This is the tooltip text."
        icon="map-marked-alt"
        side="bottom"
        transform="shrink-2 up-2"
      }}
      in the middle of some text.
    </div>
  </div>

  <hr>

  <h2 class="no-margin subsection-header" data-anchor="ember-tooltips">
    Ember Tooltips
    <small class="header-link"><LinkTo @route="index" @query={{hash anchor="ember-tooltips"}}>{{fa-icon "link"}}</LinkTo></small>
  </h2>
  <h4 class="dark-gray text-weight-normal">(dependency)</h4>
  <div class="grid-x grid-margin-x">
    <div class="cell large-5">
      <p>Labs UI depends the <a href="https://github.com/sir-dunxalot/ember-tooltips/">Ember Tooltips</a> addon for its tooltips. This addon also has Popovers. What's the difference? Tooltips are for read-only purposes, whereas Popovers can contain interactive elements. See <a href="http://sir-dunxalot.github.io/ember-tooltips/">the docs</a> for how to use Ember Tooltips.</p>
      <p>Labs UI also has a custom Sass module which helps Ember Tooltips more closely match our styles.</p>
    </div>
    <div class="cell large-7">
      <p>By default, Tooltips have a dark background and Popovers have a light background:</p>
      <button class="button">
        Hover me for a Tooltip
        {{ember-tooltip text="This is just a regular tooltip."}}
      </button>
      <span class="button">
        Click me for a Popover
        {{#ember-popover event="click"}}
          <h4 class="small-margin-bottom">This is a popover!</h4>
          <p>You can <a href="#">interact</a> with elements in a popover.</p>
          <input type="text">
        {{/ember-popover}}
      </span>
      <p>The Popover can be given a dark background with the <code>.dark</code> class:</p>
      <pre><code>&#123;{#ember-popover _tooltipVariantClass="ember-popover dark"}}
...
&#123;{/ember-popover}}</code></pre>
      <span class="button">
        Click me for a Dark Popover
        {{#ember-popover event="click" _tooltipVariantClass="ember-popover dark"}}
          <h4 class="small-margin-bottom">This is a dark popover!</h4>
          <p>You can <a href="#">interact</a> with elements in a popover.</p>
          <input type="text">
        {{/ember-popover}}
      </span>
    </div>
  </div>


  <hr>


  <h2 class="no-margin subsection-header" data-anchor="layer-group-toggle">
    Layer Group Toggle
    <small class="header-link"><LinkTo @route="index" @query={{hash anchor="layer-group-toggle"}}>{{fa-icon "link"}}</LinkTo></small>
  </h2>
  <h4 class="dark-gray text-weight-normal">labs-ui/layer-group-toggle</h4>
  <div class="grid-x grid-margin-x">
    <div class="cell large-5">
      <p>This component is always used in block form. The <code>label</code> param renders a clickable label and switch. When either are clicked, the <code>active</code> boolean is reversed and the visibility of the component's yielded content is toggled.</p>
      <p>Optional tooltip parameters can be passed:</p>
      <ul>
        <li><p>Typically used to show meta info, <code>tooltip</code> renders a dark blue info circle icon that is always visible, regardless of the active state. Override the icon with <code>tooltipIcon</code>.</p></li>
        <li><p>Typically used to indicate a warning, <code>activeTooltip</code> renders an orange exclamation triangle icon that is only visible when the active state is true. Override the icon with <code>activeTooltipIcon</code>. </p></li>
      </ul>
      <table>
        <thead>
          <tr>
            <td>Param</td>
            <td>Type</td>
            <td>Default</td>
            <td>Description</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong><pre>label</pre></strong></td>
            <td>string</td>
            <td>null</td>
            <td>Clickable label text (required)</td>
          </tr>
          <tr>
            <td><strong><pre>active</pre></strong></td>
            <td>boolean</td>
            <td>true</td>
            <td>Sets default state of component</td>
          </tr>
          <tr>
            <td><strong><pre>icon</pre></strong></td>
            <td>object</td>
            <td>null</td>
            <td>Structured data, renders a legend icon</td>
          </tr>
          <tr>
            <td><strong><pre>tooltip</pre></strong></td>
            <td>string</td>
            <td>null</td>
            <td>Adds a tooltip that's always visible</td>
          </tr>
          <tr>
            <td><strong><pre>tooltipIcon</pre></strong></td>
            <td>string</td>
            <td><pre>info-circle</pre></td>
            <td>Font Awesome icon</td>
          </tr>
          <tr>
            <td><strong><pre>activeTooltip</pre></strong></td>
            <td>string</td>
            <td>null</td>
            <td>Tooltip text</td>
          </tr>
          <tr>
            <td><strong><pre>activeTooltipIcon</pre></strong></td>
            <td>string</td>
            <td><pre>exclamation-triangle</pre></td>
            <td>Font Awesome icon</td>
          </tr>
        </tbody>
      </table>
      <p class="text-small"><em>Note:</em> Since the yielded content can be anything, its layout is unopinionated (e.g. it needs its own padding to align text with the label/switch).</p>
    </div>
    <div class="cell large-7">
      <pre><code>&#123;{#labs-ui/layer-group-toggle
label="Layer Group Label"
active=true
tooltip="This is the layer group tooltip"
icon=model.exampleIcon
activeTooltip="This is the layer group warning message"
}}
yielded content goes here
&#123;{/labs-ui/layer-group-toggle}}

&#123;{#labs-ui/layer-group-toggle
label="Layer Group Label"
active=false
tooltip="I show up regardless of the active state."
tooltipIcon="tree"
activeTooltip="I only show up when the layer group is active."
activeTooltipIcon="hand-peace"
}}
yielded content goes here
&#123;{/labs-ui/layer-group-toggle}}</code></pre>
      {{#labs-ui/layer-group-toggle
        label="Layer Group Label"
        active=true
        tooltip="This is the layer group tooltip."
        icon=model.exampleIcon
        activeTooltip="This is the layer group warning message."
      }}
        yielded content goes here
      {{/labs-ui/layer-group-toggle}}

      {{#labs-ui/layer-group-toggle
        label="Layer Group Label"
        active=false
        infoLink="https://planninglabs.nyc/"
        tooltip="I show up regardless of the active state."
        tooltipIcon="tree"
        activeTooltip="I only show up when the layer group is active."
        activeTooltipIcon="hand-peace"
      }}
        yielded content goes here
      {{/labs-ui/layer-group-toggle}}
    </div>
  </div>


  <hr>


  <h2 class="no-margin subsection-header" data-anchor="layer-groups-container">
    Layer Groups Container
    <small class="header-link"><LinkTo @route="index" @query={{hash anchor="layer-groups-container"}}>{{fa-icon "link"}}</LinkTo></small>
  </h2>
  <h4 class="dark-gray text-weight-normal">labs-ui/layer-groups-container</h4>
  <div class="grid-x grid-margin-x">
    <div class="cell large-5">
      <p>A group of layer groups&hellip; <em>Set of groups?</em> A toggleable container, this component is always used in block form. Its <code>title</code> param renders a clickable title which toggles the visibility of its yielded content. When its title is clicked, the <code>open</code> boolean is reversed and the visibility of the component's yielded content is toggled.</p>
      <p>For full functionality, use Layer Group Toggles as <a href="https://embermap.com/topics/contextual-components/flexible-interfaces">contextual components</a>.</p>
      <table>
        <thead>
          <tr>
            <td>Param</td>
            <td>Type</td>
            <td>Default</td>
            <td>Description</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong><pre>title</pre></strong></td>
            <td>string</td>
            <td>null</td>
            <td>Clickable title text (required)</td>
          </tr>
          <tr>
            <td><strong><pre>open</pre></strong></td>
            <td>boolean</td>
            <td>true</td>
            <td>Sets default state of component</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="cell large-7">
      <pre><code>&#123;{#labs-ui/layer-groups-container
  title="Layer Groups Container Title"
  active=true
  as |container|
}}
  &#123;{container.layer-group-toggle label="Layer Group One" active=true}}
  &#123;{container.layer-group-toggle label="Layer Group Two" active=false}}
&#123;{/labs-ui/layer-groups-container}}</code></pre>
      {{#labs-ui/layer-groups-container
        title="Layer Groups Container Title"
        open=true
        as |container|
      }}
        {{container.layer-group-toggle label="Layer Group One" active=true}}
        {{container.layer-group-toggle label="Layer Group Two" active=false}}
      {{/labs-ui/layer-groups-container}}
    </div>
  </div>


  <hr>


  <h2 class="no-margin subsection-header" data-anchor="legend-items">
    Legend Items
    <small class="header-link"><LinkTo @route="index" @query={{hash anchor="legend-items"}}>{{fa-icon "link"}}</LinkTo></small>
  </h2>
  <h4 class="dark-gray text-weight-normal">labs-ui/legend-items</h4>
  <div class="grid-x grid-margin-x">
    <div class="cell large-5">
      <p>The <code>legend-items</code> component does not yield any content directly. It simply loops through the array of legend objects and passes each one to the <code>labs-ui/legend-item</code> component.</p>
      <table>
        <thead>
          <tr>
            <td>Param</td>
            <td>Type</td>
            <td>Default</td>
            <td>Description</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong><pre>items</pre></strong></td>
            <td>object</td>
            <td>null</td>
            <td>Structured data, array of legend objects (required)</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="cell large-7">
      <pre><code>&#123;{labs-ui/legend-items items=layerGroup.legend.items}}</code></pre>
    </div>
  </div>


  <hr>


  <h2 class="no-margin subsection-header" data-anchor="legend-item">
    Legend Item
    <small class="header-link"><LinkTo @route="index" @query={{hash anchor="legend-item"}}>{{fa-icon "link"}}</LinkTo></small>
  </h2>
  <h4 class="dark-gray text-weight-normal">labs-ui/legend-item</h4>
  <div class="grid-x grid-margin-x">
    <div class="cell large-5">
      <p>The <code>legend-item</code> component is called by the <code>each</code> loop in the <code>legend-items</code> component. It renders a label (required), tooltip, and icon.</p>
      <table>
        <thead>
          <tr>
            <td>Param</td>
            <td>Type</td>
            <td>Default</td>
            <td>Description</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong><pre>item</pre></strong></td>
            <td>object</td>
            <td>null</td>
            <td>Structured data, legend object (required)</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="cell large-7">
      <pre><code>&#123;{labs-ui/legend-item item=model.exampleItem}}</code></pre>
      {{labs-ui/legend-item item=model.exampleItem}}
    </div>
  </div>


  <hr>


  <h2 class="no-margin subsection-header" data-anchor="legend-icon">
    Legend Icon
    <small class="header-link"><LinkTo @route="index" @query={{hash anchor="legend-icon"}}>{{fa-icon "link"}}</LinkTo></small>
  </h2>
  <h4 class="dark-gray text-weight-normal">labs-ui/legend-icon</h4>
  <div class="grid-x grid-margin-x">
    <div class="cell large-5">
      <p>The <code>legend-icon</code> component renders a layered stack of icons. The <code>icon.type</code> can be <code>line</code>, <code>rectangle</code>, or <code>fa-icon</code>, and determines if the layers are made of SVGs or Font Awesome icons. The <code>icon.layers</code> array of objects describes each of the layers in the stack &mdash; e.g. a dark red line over a thicker transparent pink line. </p>
      <table>
        <thead>
          <tr>
            <td>Param</td>
            <td>Type</td>
            <td>Default</td>
            <td>Description</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong><pre>icon</pre></strong></td>
            <td>object</td>
            <td>null</td>
            <td>Structured data,  (required)</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="cell large-7">
      <pre><code>&#123;{labs-ui/legend-icon icon=model.exampleItem.icon}}</code></pre>
      <span class="legend-item">{{labs-ui/legend-icon icon=model.exampleItem.icon}}</span>
    </div>
  </div>

</div>

{{outlet}}
